@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.glass-border {
  position: relative;
  border-radius: 0.5rem;
}

.glass-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    -120deg,
    rgba(255, 255, 255, 0.139),
    rgba(140, 140, 140, 0.231)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
