@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Open Sans";
  src: url("public/fonts/OpenSans-Regular.woff");
}

@theme {
  --font-primary: "Open Sans", sans-serif, Arial;
}

.recharts-wrapper *:focus {
  outline: none !important;
}
